/* Шрифт для ссылок и пунктов меню */
@font-face {
    font-family: 'Benguiat Rus';
    src: url('../fonts/Benguiat.eot');
    src: url('../fonts/Benguiat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benguiat.woff2') format('woff2'),
        url('../fonts/Benguiat.woff') format('woff'),
        url('../fonts/Benguiat.ttf') format('truetype'),
        url('../fonts/Benguiat.svg#Benguiat') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #1a172a;
}

a {
	font-family: 'Benguiat Rus', Garamond, serif;
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.section-header {
	margin: 20px;
	font-family: 'Cormorant Infant', serif;
	font-size: 25px;
	text-align: center;
}

.item-header {
	font-family: "Times New Roman", serif;
	font-size: 20px;
	font-weight: bold;
}

/* <!-- Подложка --> */

.substrate {
	background-color: rgba(255, 255, 255, 0.6);
}

/* Конец глобальных (типографских) настроек */

/* Стилизация навигаций */

.main-navigation {
	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #ffffff;
}

.user-navigation, 
.main-navigation-list {
	list-style: none;
}

.user-navigation a {
	font-size: 20px;
	color: #fdf30d;

	background-color: rgba(46, 41, 75, 0.5);
	border: 1px solid #ffffff;
	border-radius: 6px;
}
.main-navigation-list a {
	color: #000000;
}

.main-navigation-item-current a {
	color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.main-navigation-list a:hover,
.main-navigation-list a:focus {
	
}

.user-navigation {
	text-align: right;
}

/* Градиент меню */

.main-navigation-item {
	background: linear-gradient(45deg, #c2edb0, #97d1b3, #77bab4);
}

.main-navigation-item:nth-child(2) {
	background: linear-gradient(45deg, #daec92, #aecc82, #95b97b);
}

.main-navigation-item:nth-child(3) {
	background: linear-gradient(45deg, #eada8b, #c9b383, #b49a7b);
}

.main-navigation-item:nth-child(4) {
	background: linear-gradient(45deg, #e6b68e, #c08184, #ac657e);
}

.main-navigation-item:nth-child(5) {
	background: linear-gradient(45deg, #f8c6c5, #cb8cc7, #b26cc8);
}

.main-navigation-item:nth-child(6) {
	background: linear-gradient(45deg, #d4c1c2, #a28fbd, #7964b9);
}

/* Градиент меню активное состояние*/

.main-navigation-item:hover,
.main-navigation-item:focus,
.main-navigation-item:active {
	background: linear-gradient(45deg, #bcfca1, #81e7b2, #58d9cd);
}

.main-navigation-item:nth-child(2):hover,
.main-navigation-item:nth-child(2):focus,
.main-navigation-item:nth-child(2):active {
	background: linear-gradient(45deg, #e5ff7f, #b3e668, #b3e668);
}

.main-navigation-item:nth-child(3):hover,
.main-navigation-item:nth-child(3):focus,
.main-navigation-item:nth-child(3):active {
	background: linear-gradient(45deg, #ffe876, #e4bd68, #d39d5c);
}

.main-navigation-item:nth-child(4):hover,
.main-navigation-item:nth-child(4):focus,
.main-navigation-item:nth-child(4):active {
	background: linear-gradient(45deg, #fbb479, #dc656a, #d04173);
}

.main-navigation-item:nth-child(5):hover,
.main-navigation-item:nth-child(5):focus,
.main-navigation-item:nth-child(5):active {
	background: linear-gradient(45deg, #ffbfbe, #e473dd, #c24ee6);
}

.main-navigation-item:nth-child(6):hover,
.main-navigation-item:nth-child(6):focus,
.main-navigation-item:nth-child(6):active {
	background: linear-gradient(45deg, #e4b1b4, #9d74d8, #6842db);
}

/* Стилизация основного контента */
.description {
	text-align: justify;
}

.section-header span {
	color: #4b2f69;
}

.main-title {
 	font-size: 30px;
}
/* Секция и раздел произведения */

.works-list {
	list-style: none;
}

.work-item {
	text-align: center;
}

.work-item a {
	color: #000000;
}

.work-item a:hover,
.work-item a:focus,
.work-item a:active {

	text-decoration: underline;
}

.works-item-image img {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.61);
	border: 3px solid #f7f1f1;
	border-radius: 4px;
}

.works-item-image img:hover,
.works-item-image img:focus {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.8);
}

/* Популярные рисунки */

.arts-list {
	list-style: none;
}

.arts-item {
	text-align: center;
}

.arts-item a {
	color: #000000;
}

.arts-item a:hover,
.arts-item a:focus,
.warts-item a:active {

	text-decoration: underline;
}

.arts-item-image img {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.61);
	border: 3px solid #f7f1f1;
	border-radius: 4px;
}

.arts-item-image img:hover,
.arts-item-image img:focus {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.8);
}

/* Новости */
.news-list {
	list-style: none;
}

.item-header a {
	font-family: "Times New Roman", serif;
	font-size: 20px;
	font-weight: bold;
}

.news-item a {
	color: #ffffff;
}

.news-item a:hover,
.news-item a:focus {

}

.news-item img {
	border: 2px solid #ffffff;
	border-radius: 4px;
}

.news-item time {
	font-size: 14px;
	color: #d4d2d6;
}

.news-link:hover {
	text-decoration: underline;
}

/* Пагинация */

.pagination-list {
	list-style: none;
}

.pagination-list a {
	color: #ffffff;

	background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
	background-color: ;
}

.pagination-item-current a {
	color: #ffffff;
	background-color: transparent;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #ffffff;

	background-color: none;
}

/* Стилизация футера */

.main-footer {
	color: #fdf30d;
}
.main-footer a {
	color: #fdf30d;
}

.footer-navigation {
	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}

.footer-navigation-list {
	list-style: none;
}

.footer-navigation-list a {
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-navigation-list a:active {

}

.footer-navigation-current a {
	color: #ffffff;
}

.footer-copyright {
	text-align: center;
}

.footer-social {
	text-align: right;
}

.footer-social b {
}

.footer-social ul {
	list-style: none;
}

.social-button {
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	text-decoration: underline;
}

/* Стили для раздела Книги */

.main-header {
	font-size: 35px;
}

.breadcrumb {
	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;

	list-style: none;
}

.breadcrumb a {
	color: #000000;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
	text-decoration: underline;
}

.breadcrumb-current {
	color: #d3d0ce;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	font-size: 20px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter-checkbox:focus + label,
.filter-checkbox:hover + label {
	color: ;
}

.filter-checkbox:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.catalog-item-header {
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	font-size: 24px;
}

/* Модальные окна */

.modal-login h3 {
	font-family: 'Cormorant Infant', serif;
	font-size: 25px;
}

.modal-form-login input[type="text"],
.modal-form-login input[type="password"] {
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: ;
	border: 2px solid #000000;
}

.modal-form-login input:focus {
	border-color: ;
}

.modal-form-login:hover,
.modal-form-login:focus {
	color: ;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

/* Cеточные стили */
html, body {
	min-width: 1122px;
	min-height: 1750px;
}

/* Блок центровщик */
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	margin-bottom: 30px;
	padding: 10px 0;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 164px;
	min-height: 54px;
}

.user-navigation {
	margin: 0;
	padding: 0;

	width: 340px;
}

.main-navigation {
	width: 150px;

}

.main-navigation-list {
	padding: 0;
	margin: 0;
}

.main-navigation-item {
	width: 150px;

	text-align: center;
}

/* Сетка основного контента */

.substrate {
	padding: 20px 20px;
}

.main-title {
	margin: 25px;
}

.description {
	margin-bottom: 50px;
}

.description p {
	margin: 0;
	padding-left: 35px;
	padding-right: 35px;
}

.popular-works {
	margin-bottom: 50px;
}

.works-list {
	display: flex;
	justify-content: space-between;

	padding: 0;
	margin: 0;
}

.works-page .works-list {
	justify-content: center;
	flex-wrap: wrap;
}

.work-item {
	width: 264px;
}

.works-page .work-item {
	margin-right: 30px;
}

.works-page .work-item:nth-child(3n) {
	margin-right: 0;
}

.popular-arts {
	margin-bottom: 50px;
}

.arts-list {
	display: flex;
	justify-content: space-between;

	padding: 0;
	margin: 0;
}

.arts-item {
	width: 264px;
}

.news {
	margin-bottom: 30px;
}

.news-list {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
	/* margin-left: 123px; */
}

.news-item {
	width: 600px;
	text-align: justify;
}

.pagination-list {
	margin: 0;
	padding: 0;
}

/* Сетка для футера */
.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.main-footer {
	margin-top: 50px;
}

.footer-navigation {
	width: 120px;
}

.footer-navigation-list {
	margin: 0;
	padding: 0;
}

.footer-copyright {
	width: 220px;
	margin: 0;
	padding: 0;
}

.footer-social {
	width: 180px;
}

/* Сеточные стили для остальных страниц */

.filter-wrapper {
	display: flex;
	justify-content: space-around;
}

.filter ul {
	margin: 0;
	padding: 0;
}

.filter-button {
	margin-left: 28px;
}

/* Временно для сетки */
.modal {
	display: none;
}