/* Шрифт для ссылок и пунктов меню */
@font-face {
    font-family: 'Benguiat Rus';
    src: url('../fonts/Benguiat.eot');
    src: url('../fonts/Benguiat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benguiat.woff2') format('woff2'),
        url('../fonts/Benguiat.woff') format('woff'),
        url('../fonts/Benguiat.ttf') format('truetype'),
        url('../fonts/Benguiat.svg#Benguiat') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	--def: #96B7C4; 	
	--inv: #1a172a;
	margin: 0;
	padding: 0;

	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #1a172a;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	font-family: 'Benguiat Rus', Garamond, serif;
	text-decoration: none;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="checkbox"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1100px;
	padding: 0 50px;
	margin: 0 auto;
}

.main-flex-container {
	display: flex;
	justify-content: space-between;
}

.section-header {
	margin: 0;
	font-family: 'Cormorant Infant', serif;
	font-size: 25px;
	text-align: center;
}

.item-header {
	font-family: "Times New Roman", serif;
	font-size: 20px;
	font-weight: bold;
}

/* <!-- Подложка --> */

.substrate {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 50px;
	background-color: #ffffff;
	/* background-color: rgba(255, 255, 255, 0.6); */
}

/* Конец глобальных (типографских) настроек */
.header {
	margin-bottom: 130px;
	padding-top: 30px;
	width: 100%;

	
	background-size: cover;
}

.background-header {
  background-image: url(../img/top.jpg);
  background-size: 100%;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 63rem;
  background-repeat: no-repeat;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo, .logo img {
	width: 164px;
}

/* Стилизация навигаций */

.main-navigation {
	width: 980px;
	margin: 0 auto;
	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #ffffff;
}

.user-navigation, 
.main-navigation-list {
	list-style: none;
}

.user-navigation a {
	padding: 10px 15px;

	font-size: 20px;
	color: #fdf30d;

	background-color: rgba(46, 41, 75, 0.5);
	border: 1px solid #ffffff;
	border-radius: 6px;
}

.login-link {
	margin-top: 30px;
}

.main-navigation-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
	margin: 0;
	padding: 0;
}

.main-navigation-item {
	width: 120px;
	margin-bottom: 0px;
	margin-right: 50px;
	text-align: center;
	
}

.main-navigation-item:last-child {
	margin-right: 0;
}

.main-navigation-list a {
	display: block;
	padding: 10px 15px;
	color: #000000;
}

.main-navigation-item-current a {
	color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.main-navigation-list a:hover,
.main-navigation-list a:focus {
	
}

.user-navigation {
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	width: 385px;

	text-align: right;
}

/* Градиент меню */

.main-navigation-item {
	background: linear-gradient(45deg, #c2edb0, #97d1b3, #77bab4);
}

.main-navigation-item:nth-child(2) {
	background: linear-gradient(45deg, #daec92, #aecc82, #95b97b);
}

.main-navigation-item:nth-child(3) {
	background: linear-gradient(45deg, #eada8b, #c9b383, #b49a7b);
}

.main-navigation-item:nth-child(4) {
	background: linear-gradient(45deg, #e6b68e, #c08184, #ac657e);
}

.main-navigation-item:nth-child(5) {
	background: linear-gradient(45deg, #f8c6c5, #cb8cc7, #b26cc8);
}

.main-navigation-item:nth-child(6) {
	background: linear-gradient(45deg, #d4c1c2, #a28fbd, #7964b9);
}

/* Градиент меню активное состояние*/

.main-navigation-item:hover,
.main-navigation-item:focus,
.main-navigation-item:active {
	background: linear-gradient(45deg, #bcfca1, #81e7b2, #58d9cd);
}

.main-navigation-item:nth-child(2):hover,
.main-navigation-item:nth-child(2):focus,
.main-navigation-item:nth-child(2):active {
	background: linear-gradient(45deg, #e5ff7f, #b3e668, #b3e668);
}

.main-navigation-item:nth-child(3):hover,
.main-navigation-item:nth-child(3):focus,
.main-navigation-item:nth-child(3):active {
	background: linear-gradient(45deg, #ffe876, #e4bd68, #d39d5c);
}

.main-navigation-item:nth-child(4):hover,
.main-navigation-item:nth-child(4):focus,
.main-navigation-item:nth-child(4):active {
	background: linear-gradient(45deg, #fbb479, #dc656a, #d04173);
}

.main-navigation-item:nth-child(5):hover,
.main-navigation-item:nth-child(5):focus,
.main-navigation-item:nth-child(5):active {
	background: linear-gradient(45deg, #ffbfbe, #e473dd, #c24ee6);
}

.main-navigation-item:nth-child(6):hover,
.main-navigation-item:nth-child(6):focus,
.main-navigation-item:nth-child(6):active {
	background: linear-gradient(45deg, #e4b1b4, #9d74d8, #6842db);
}

/* Стилизация основного контента */
main {
	
}

.description {
	margin: 24px 0;
	padding: 0 50px;
	text-align: center;
}

.section-header {
	margin-top: 50px;
	margin-bottom: 25px;
}

.main-header {
	margin-top: 25px;
}

.section-header span {
	color: #4b2f69;
}

.main-title {
 	font-size: 30px;
}
/* Секция и раздел произведения */

.works-list {
	display: flex;
	flex-wrap: wrap;

	width: 835px;
	margin: 0 auto;
	margin-bottom: 50px;

	list-style: none;
}

.work-item {
	width: 264px;
	margin-right: 20px;
	text-align: center;
}

.work-item:nth-child(3n) {
	margin-right: 0;
}

.works__button {
	position: relative;
	box-sizing: border-box;
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	color: #1a172a;
	-webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	-webkit-user-select: none;	
	   -moz-user-select: none;	
	    -ms-user-select: none;	
	        user-select: none;
}

.works__button:hover {
	color: #fdf30d;
	-webkit-transition-delay: .6s;
	        transition-delay: .6s;
	        z-index: 20;
}

.works__button:before, .works__button:after {
	content: '';
	position: absolute;	
	z-index: -1;
	left: 0;
	height: 0;
	width: 100%;
	-webkit-transition: inherit;	
	transition: inherit;	
}

.works__button:before {
	top: 0;	
	border: 1px solid #1a172a;
	border-top: 0;
	border-bottom: 0;
}

.works__button:after {
	bottom: 0;
	height: 0;
}

.works__button:hover:before,
.works__button:hover:after {
	height: 100%;
}

.works__button:hover::before {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

.works__button:hover::after {
	background: #1a172a;
	-webkit-transition-delay: .4s;
	        transition-delay: .4s;
}

.works-item-image {
	margin: 0;
}

.works-item-image img {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	border: 3px solid #f7f1f1;
	border-radius: 4px;
}

.works-item-image img:hover,
.works-item-image img:focus {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.work__description {
	margin: 24px 0;
	text-align: justify;
}

/* Популярные рисунки */

.arts-list {
	display: flex;
	flex-wrap: wrap;

	width: 835px;
	margin: 0 auto;

	list-style: none;
}

.arts-item {
	margin-right: 20px;
	text-align: center;
}

.arts-item:nth-child(3n) {
	margin-right: 0;
}

.arts-item a {
	color: #000000;
}

.arts-item a:hover,
.arts-item a:focus {

	text-decoration: underline;
}

.arts-item-image img {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.61);
	border: 3px solid #f7f1f1;
	border-radius: 4px;
}

.arts-item-image img:hover,
.arts-item-image img:focus {
	box-shadow: 3px 10px 44px 8px rgba(0,0,0,0.8);
}

/* Новости */
.news-list {
	width: 835px;
	margin: 0 auto;

	list-style: none;
}

.item-header {
	margin-top: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
 
.clearfix { display: inline-block; }

.item-header a {
	font-family: "Times New Roman", serif;
	font-size: 20px;
	font-weight: bold;
}

.news-item a {
	color: #ffffff;
}

.news-item a:hover,
.news-item a:focus {

}

.news-list__img {
	float: left;
	margin-right: 20px;
	border: 2px solid #ffffff;
	border-radius: 4px;
}

.news-item time {
	font-size: 14px;
	color: #d4d2d6;
}

.news-link:hover {
	text-decoration: underline;
}

/* Пагинация */

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	
	
	width: 200px;
	margin: 0;
	margin-right: 30px;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.pagination-wrapper {
	display: flex;
	flex-wrap: wrap;

	margin-right: -20px;
}

.pagination-item {
	box-sizing: border-box;
	margin-left: 20px;
	margin-bottom: 14px;

	border-radius: 50%;
}

.pagination-list a {
	padding: 5px 10px;
	color: #ffffff;
	border-radius: 4px;
	background-color: #1a172a;

}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
	background-color: ;
}

.pagination-item-current {
	box-sizing: border-box;
}

.pagination-item-current a {
	
	color: #1a172a;
	background-color: #fdf30d;
	border: 1px solid #1a172a;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color:#1a172a;

	background-color: none;
}

/* Стилизация футера */

.main-footer {
	display: flex;
	justify-content: space-between;

	margin-bottom: 50px;
	padding: 0 30px;
	padding-top: 50px;
	color: #fdf30d;
}
.main-footer a {
	color: #fdf30d;
}

.footer-navigation {
	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}

.footer-navigation-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-navigation-list a {
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-navigation-list a:active {

}

.footer-navigation-current a {
	color: #ffffff;
}

.footer-copyright {
	text-align: center;
}

.footer-social {
	text-align: right;
}

.footer-social b {
}

.footer-social ul {
	list-style: none;
}

.social-button {
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	text-decoration: underline;
}

/* Стили для раздела Книги */

.main-header {
	font-size: 35px;
}

.breadcrumb {
	display: flex;
	margin: 0;
	padding: 0;

	font-family: 'Benguiat Rus', Garamond, serif;
	font-weight: bold;

	list-style: none;
}

.breadcrumb__item {
	position: relative;
	margin-left: 25px;
}

.breadcrumb__item::before {
	content: "";
	position: absolute;
	top: 30%;
	left: -35%;
	width: 8px;
	height: 8px;
	background-color: #1a172a;
	transform: rotate(45deg);
}

.breadcrumb__item:first-child::before {
	display: none;
}

.breadcrumb__item a {
	color: #000000;
}

.breadcrumb__item a:hover,
.breadcrumb__item a:focus {
	text-decoration: underline;
}

.breadcrumb__item--current {
	color: #d3d0ce;
}


.filter {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 50px;
}

.flex-fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter fieldset {
	width: auto;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

	border: none;
}

.filter fieldset:nth-child(2n) {
	
}

.filter legend {
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	font-size: 20px;
}

.filter ul {
	margin: 0;
	padding: 0;

	list-style: none;
	line-height: 18px;
}

.filter-checkbox:focus + label,
.filter-checkbox:hover + label {
	color: ;
}

.filter-checkbox:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.filter__button/* ,
.works__button */ {
	position: relative;
	z-index: 10;
	padding: 10px 20px;	
	font-family: 'Cormorant Infant', serif;
	font-size: 20px;
	font-weight: bold;
	color: #1a172a;
	background-color: transparent;
	border: 2px solid #1a172a;
	border-image: linear-gradient(180deg, #000000, #000000, #1a172a, #1a172a);
	border-image-slice: 1;
}

.filter__button::before/* ,
.works__button::before */ {
	content: "";
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 0;
	z-index: -1;

	background: linear-gradient(180deg, rgba(253, 243, 13, .5), rgba(253, 243, 13, .5), rgba(26, 23, 42, .5), rgba(0, 0, 0, .8));
	transition: .5s cubic-bezier(.165,.84,.44,1);
}

.filter__button:hover/* ,
.works__button:hover */ {
	color: #1a172a;
}

.filter__button:hover::before/* ,
.works__button:hover::before */ {
	bottom: 0;
	top: auto;

	height: 100%;
}

.catalog-item-header {
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;

	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	font-size: 24px;
}

/* Модальные окна */
.modal {
	display: none;
}

.modal-login h3 {
	font-family: 'Cormorant Infant', serif;
	font-size: 25px;
}

.modal-form-login input[type="text"],
.modal-form-login input[type="password"] {
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: ;
	border: 2px solid #000000;
}

.modal-form-login input:focus {
	border-color: ;
}

.modal-form-login:hover,
.modal-form-login:focus {
	color: ;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

@media (max-width: 1199px) {
	.container {
		width: 940px;
		padding: 0 20px;
	}
}

@media (max-width: 960px) {
	.container {
		width: 740px;
		padding: 0 20px;
	}
	.user-navigation {
		width: 340px;
	}
	.user-navigation a {
	padding: 5px 8px; 
	font-size: 16px;
	}
	.login-link {
	margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.container {
		width: auto;
	}
	.header {
	padding-top: 20px;
	margin-bottom: 40px;
	}
	.header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.user-navigation {
	align-items: center;
	}
}



input[type='checkbox']{ 
	height: 0; width: 0; 
/* Чтобы не было видно родного чекбокса в FF */
  -ms-transform: scale(0); /* IE */
  -moz-transform: scale(0); /* FF */
  -webkit-transform: scale(0); /* Safari and Chrome */
  -o-transform: scale(0); /* Opera */
  padding: 10px;
}

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  margin: 0;	
  align-items: center;
  color: #000000ab;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #1a172a;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label,
input[type='checkbox']:checked + label {
  color: #000000;
}
input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
  background: rgba(255,255,255,.1);
}

input[type='checkbox']:checked + label > span{
  border: 2px solid #FFEB3B;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;

}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}