	<nav class="content-nav">
		<label for="content-nav__toggle" class="content-nav__toggle" onclick></label>
		<h2 class="content-nav__title">Оглавление</h2>
		<ul class="content-nav__list">
            <li class="content-nav__item"><a class="content-nav__link" href="1.html">* * *</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../rumpedAttic/1.html">Певчий чердак</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#3">Привратник и овощи</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#4">Особое отношение</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#5">Неугосимый огонь</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#6">Король двенадцати дней</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#7">Секрет жизни</a>
            <li class="content-nav__item"><a class="content-nav__link" href="#7">Принц и скрипач</a> 
            <li class="content-nav__item"><a class="content-nav__link" href="#7">Оковы здравомыслия</a> 
        </ul>
    </nav>