	<nav class="content-nav">
		<label for="content-nav__toggle" class="content-nav__toggle" onclick></label>
		<h2 class="content-nav__title">Оглавление</h2>
		<ul class="content-nav__list">
            <li class="content-nav__item"><a class="content-nav__link" href="../diana/1.html">* * *</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../rumpedAttic/3.html">Певчий чердак</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../gatekeeperAndvegetables/15.html">Привратник и овощи</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../specialTreatment/19.html">Особое отношение</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../inextinguishableFire/44.html">Неугосимый огонь</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../twelvedayKing/57.html">Король двенадцати дней</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../theSecretOfLife/67.html">Секрет жизни</a>
            <li class="content-nav__item"><a class="content-nav__link" href="../princeAndViolinist/82.html">Принц и скрипач</a> 
            <li class="content-nav__item"><a class="content-nav__link" href="../shacklesOfSanity/93.html">Оковы здравомыслия</a> 
        </ul>
    </nav>