<div class="background-header"></div>
<header class="page-header">
    <div class="page-header__wrapper">
      <a class="page-header__logo"><img class="page-header__logo-image" alt="Логотип Врата" width="164" height="54" src="../img/Logo.png" width="164"></a>
      <nav class="page-header__user-block user-navigation user-navigation--nojs user-navigation--closed">
        <button class="user-navigation__toggle" type="button"><span class="visually-hidden">Открыть</span>
        </button>
        <ul class="user-navigation__list">
          <li class="user-navigation__item">
            <a class="user-navigation__link registration-link" href="../registration.html">Оформить читательский билет</a>
          </li>
          <li class="user-navigation__item user-navigation__item--bottom">
            <a class="user-navigation__link login-link" href="../login.html">Представиться</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>