<div class="background-header"></div>
<header class="page-header">
    <div class="page-header__wrapper container">
      <a class="page-header__logo logo"><img alt="Логотип Врата" height="54" src="img/Logo.png" width="164"></a>
      <nav class="page-header__user-block">
        <ul class="user-navigation__list">
          <li class="user-navigation__item">
            <a class="user-navigation__link registration-link" href="registration.html">Оформить читательский билет</a>
          </li>
          <li class="user-navigation__item--bottom">
            <a class="user-navigation__link enter-link" href="#">Представиться</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>