<section class="modal modal-login">
    <h2 class="visually-hidden">Здесь можно представиться</h2>
    <p class="modal__title">Здравствуйте</p>
    <form action="#" class="form-login" method="get">
      <p><label class="visually-hidden" for="modal-form-login-name">Ваше имя...</label> <input class="input" id="modal-form-login-name" name="login" placeholder="Ваше имя..." type="text"></p>
      <p><label class="visually-hidden" for="modal-form-login-pass">Ваш пароль</label> <input class="input" id="modal-form-login-pass" name="password" placeholder="Ваш ключ..." type="password"></p>
      <div class="login-password-info">
        <!-- <div class="login__checobox-wrapper"> -->
        <input class="checkbox modal__checkbox" id="login-checkbox" name="login-checkbox" type="checkbox"> <label class="checkbox__name" for="login-checkbox"><span class="checkbox__indicator"></span>Запомните меня</label> <!-- </div> -->
         <a class="restore" href="#">Я забыл(а) пароль!</a>
      </div><button class="button login__btn" type="submit">Представиться</button>
    </form><button class="modal-close enter-close">Закрыть</button>
</section>