<section class="modal modal-registration">
    <h2 class="visually-hidden">Здесь можно зарегистрироваться</h2>
    <p class="modal__title">Добро пожаловать</p>
    <form action="#" class="form-login" method="get">
      <p><label class="visually-hidden" for="modal-form-login-name">Ваше имя...</label> <input class="input" id="modal-form-login-name" name="name" placeholder="Ваше имя..." type="text"></p>
      <p><label class="visually-hidden" for="modal-form-login-name">Ваш почтовый ящик...</label> <input class="input" id="modal-form-login-name" name="email" placeholder="Ваш почтовый ящик..." type="text"></p>
      <p><label class="visually-hidden" for="modal-form-login-pass">Придумайте пароль</label> <input class="input" id="modal-form-login-pass" name="password" placeholder="Придумайте пароль" type="password"></p>
      <div class="login-password-info">
        <!-- <div class="login__checobox-wrapper"> -->
        <input class="checkbox modal__checkbox" id="remember-checkbox" name="remember-checkbox" type="checkbox"> <label class="checkbox__name" for="remember-checkbox"><span class="checkbox__indicator"></span>Запомните меня</label> <!-- </div> -->
      </div><button class="button login__btn" type="submit">Зарегистрироваться</button>
    </form><button class="modal-close reg-close">Закрыть</button>
</section>