<nav class="page-navigation">
    <ul class="page-navigation__list">
      <li class="page-navigation__item">
        <a class="page-navigation__link" href="../index.html">Новости</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link page-navigation__link--green" href="../works-catalog.html">Книги</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link page-navigation__link--yellow" href="../gallery.html">Галерея</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link page-navigation__link--peach" href="../about.html">О нас</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link page-navigation__link--lilac" href="../reviews.html">Отзывы</a>
      </li>
      <li class="page-navigation__item">
        <a class="page-navigation__link page-navigation__link--purple" href="../FAQ.html">FAQ</a>
      </li>
    </ul>
</nav>