.about-content:nth-child(2) {
	margin-top: 24px;
}

.about-content__text {
	margin: 0;
	margin: @text-mr auto;
	padding: 0 57px;
	text-align: justify;
	text-indent: 2.75em;
	&--right {
		margin: 1.875em 0;
		font-weight: bold;
		color: #ac657e;
		text-align: right;
	}

	&--PS {
		margin-bottom: 4.375em;
		text-indent: 0px;
	}
}

/* .about__text--first {
	margin-top: 24px;
} */

.about-content__photo {
	float: left;
	margin: 10px;
	margin-left: 59px;
	margin-right: 30px;
	&--right {
		float: right;
		margin-right: 59px;
		margin-left: 30px;
	}
}

.about-content__photo-image {
	&--border {
		border: 3px solid @main-color;
		border-radius: 5px;
	}
}

.about-content__caption {
	font-style: italic;
	color: @text;
	text-align: center;
}

@media (max-width: @mobile-width) {
	.about-content__text {
		margin-top: 16px;
		margin-bottom: 16px;
		padding: 0;
	}

	.about-content__photo-image {
		width: 320px;
	}

	.about-content__photo {
		float: none;
		margin: 0;
		margin-bottom: 16px;
	}
}
