.about-social {
	width: 100%;
	}

.about-social__description {
	margin-top: 16px;
	margin-bottom: 16px;
	}

@media(min-width: @tablet-width) {
	.about-social {
		width: 370px;
	}

	.about-social__description {
		margin: @base-mr 0;
	}
}