.slider__container {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.slider__content {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 170px;
}

.slider__title {
	color: #d39d5c;
}

.slider__content-img {
	/* width: 600px;
	 */
	display: block;
	margin: 0 auto;
	background-size: cover;
	max-height: 650px;
}

.slider__content .slick-track {
	height: 800px;
}

.slick-track {
	background-color: lighten(@main-color, 10%);
}

.slider__nav {
	background-color: lighten(@main-color, 10%);
}

.slider__nav-img {
	background-size: cover;
}

.slider__nav-item {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	background-size: cover;
	outline: none;
}

.slick-arrow {
	&::before {
		color: lighten(@main-color, 10%);;
	}
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 60%;
	z-index: 100;
	width: 50px;
	height: 100px;
	background-color: @main-color;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		
		border-right: 3px solid #b49a7b;
		border-bottom: 3px solid #b49a7b;
	}
	&:hover::before {
		border-right-color: #d39d5c;
		border-bottom-color: #d39d5c;
	}
}

.slider__next {
	right: -63px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	&::before {
		top: 32px;
		left: -1px;
		transform: rotate(-46deg);
	}
}

.slider__prev {
	left: -63px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	&::before {
		top: 32px;
		left: 20px;
		transform: rotate(135deg);
	}
}

.slick-prev:before,
.slick-next:before {
	color: #d39d5c;
}

.slick-dots li button::before {
	color: #d39d5c;

}

.slider__count {
	position: absolute;
	bottom: 43px;
	left: 50%;
	margin-left: -34px;
	z-index: 100;
	font-family: @ff-title;
	font-size: @subtitle-fz;
	color: #b49a7b;
}

/* 

.slider-nav {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 220px;	
}

*/

