.album-slider__container {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.album-slider__content {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 170px;
}

.album-slider__title {
	color: #d39d5c;
}

.album-slider__content-img {
	display: block;
	margin: 0 auto;
	background-size: cover;
	max-height: 650px;
}

/* Чтобы высота подложки рисунков была больше самих рисунков */

.album-slider__content .slick-track {
	height: 800px;
}

/* Чтобы подложки рисунков были синими */

.slick-track {
	background-color: lighten(@main-color, 10%);
}

/* Стилизация маленьких картинок превью */

.album-slider__nav-img {
	background-size: cover;
}

.album-slider__nav-item {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	outline: none;
}

/* Кнопки назад и вперед у большого слайдера */
.album-slider__prev,
.album-slider__next {
	position: absolute;
	top: 60%;
	z-index: 100;
	width: 50px;
	height: 100px;
	background-color: @main-color;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		
		border-right: 3px solid #b49a7b;
		border-bottom: 3px solid #b49a7b;
	}
	&:hover::before {
		border-right-color: #d39d5c;
		border-bottom-color: #d39d5c;
	}
}

.album-slider__next {
	right: -63px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	&::before {
		top: 32px;
		left: -1px;
		transform: rotate(-46deg);
	}
}

.album-slider__prev {
	left: -63px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	&::before {
		top: 32px;
		left: 20px;
		transform: rotate(135deg);
	}
}

/* Кнопки-стрелки навигации панели превью (не кастомизированные) */

.slick-prev:before,
.slick-next:before {
	color: #d39d5c;
}

/* Цвета состоания покоя, ховера и активного для точек дотс под слайдером */

.slick-dots li button::before {
	color: #d39d5c;

}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #d39d5c;
}

/* Стилизация количества слайдов */

.album-slider__count {
	position: absolute;
	bottom: 43px;
	left: 50%;
	margin-left: -34px;
	z-index: 100;
	font-family: @ff-title;
	font-size: @subtitle-fz;
	color: #b49a7b;
}


