.footer-social {
	width: 211px;	
}

.footer-social__title {
	display: block;
	margin-bottom: 24px;

	color: rgba(255, 255, 255, .4);
	letter-spacing: 2px;
}

.footer-social__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social__icon-color {
	fill: rgba(253, 243, 13, .4);
}

.footer-social__icon-color:hover {
	fill: rgb(253, 243, 13);
}

.footer-social__item {
	margin-right: 20px;
}

.footer-social__item:last-child {
	margin-right: 0px;
}