.footer-navigation {
	width: 168px;	
	font-family: @ff-subtitle, Garamond, serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}

.footer-navigation__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-navigation__link {
	color: rgba(253, 243, 13, .4);
}

.footer-navigation__link:hover,
.footer-navigation__link:focus
 {
	color: rgb(253, 243, 13);
}



.footer-navigation__link--current,
.footer-navigation__link--current:hover, 
.footer-navigation__link:active {
	color: @bg;
}
