.index-columns {
	display: flex;
	flex-direction: column;
}

@media(min-width: @tablet-width) {
	.index-columns {
		justify-content: space-around;
		flex-direction: row;
	}

	.index-columns--border {
		border: 3px solid rgba(172, 101, 126, 0.4);
		border-radius: 10px;
	}
} 