.news__list {
	width: 835px;
	margin: 0 auto;
	margin-bottom: 70px;
	padding: 0;

	list-style: none;
}

.news__text {
	margin: 0;
	margin-bottom: 24px;
}

.news__picture {
	float: left;
	margin-right: 20px;
	border: 2px solid @bg;
	border-radius: 4px;
}

.news__item {
	margin-bottom: 20px;
}

@media(max-width: @mobile-width) {
	.news {
	
	}
	.news__list {
		width: auto;
	}

	.news__picture {
		float: none;
		display: block;
		width: auto;
		margin: 0 auto;
	}

	.news__text {
		text-align: justify;
	}
}
