.news__list {
	width: 835px;
	margin: 0 auto;
	margin-bottom: 70px;

	list-style: none;
}

.news__text {
	margin: 0;
	margin-bottom: 24px;
}

.news__picture {
	float: left;
	margin-right: 20px;
	border: 2px solid @bg;
	border-radius: 4px;
}

.news__item {
	margin-bottom: 20px;
}

@media(max-width: @mobile-width) {
	.news__list {
		width: 320px;
	}
}
