.page-description {
	margin: @text-mr 0px;
	padding: 0 20px;
	text-align: justify;
	text-indent: 44px;
	&--welcome {
		text-indent: 0;
	}
}

.page-description__spoiler {
  position: relative;
  margin-left: 35px;
  text-align: justify;

}