.page-main { 
	flex: 1 0 auto; 
	justify-content: center;
	align-self: center;
}

.page-main__breadcrumb {
	margin-bottom: 48px;
}

.page-main__label {
	color: #4b2f69;
}

.page-main__head {
	display: flex;
	flex-direction: column;
	width: 100%;
	&--set {
		margin-bottom: 70px;
	}
}

.page-main__attention {
	margin-top: @base-mr;
}

@media (max-width: @mobile-width) {
	.page-main {
		width: 100%;
		min-width: 320px;
	}
	.page-main__head {
		margin-bottom: 40px;
	}
}