.substrate {
	position: relative;

	box-sizing: border-box;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 35px;

	background-color: @bg;
	/* background-color: rgba(255, 255, 255, 0.6); */
	}


@media(min-width: @tablet-width) {
	.substrate {
	
	}
}

@media(min-width: @desktop-width) {
	.substrate {
		padding: 35px 30px 50px 30px;
	}
	
}