@main-color: #1a172a;
@text: #000000;
@link: #fdf30d; /* желтый */
@hover: #68E5F7;
@bg: #ffffff;
@album: #d39d5c;
@album-light: #b49a7b;
@disabled: #808080;

@ff-title: 'Cormorant Infant Bold';
@ff-subtitle: 'Vollkorn';
@ff-text: "Times New Roman";

@base-fz: 16px;
@lh-step: 1.5;
@base-lh: @base-fz * @lh-step;
@base-mr: @base-lh;

@text-fz: 1rem;
@text-mr: 1.5rem;
@title-fz: 2rem;
@title-mr: @base-lh;
@subtitle-fz: 1.5rem;
@subtitle-mr: @subtitle-fz * 1.5;

@subheading: 1.2rem;
@subheading-mr: @base-mr;

@title-works: 1.5rem;
@title-works_mr: @base-mr;

@mobile-width: 768px;