@main-color: #1a172a;
@text: #000000;
@link: #fdf30d; /* желтый */
@hover: #68E5F7;
@bg: #ffffff;

@ff-title: 'Cormorant Infant Bold';
@ff-subtitle: 'Benguiat Rus';
@ff-text: "Times New Roman";

@base-fz: 16px;
@lh-step: 1.5;
@base-lh: @base-fz * @lh-step;

@text-fz: 1em;
@text-mr: 1.5em;
@title-fz: 2em;
@title-mr: @title-fz * 1.5;
@subtitle-fz: 1.5em;
@subtitle-mr: @subtitle-fz * 1.5;